<div
  class="group overflow-hidden rounded-3xl shadow-lg hover:-translate-y-1 transition duration-300 card-shadow cursor-pointer"
  (click)="learnMore.emit(major.id)"
>
  <!-- TOP -->
  <div class="relative h-60 w-full overflow-hidden">
    <!-- IMAGE (optional icon or illustration) -->
    <img
      *ngIf="major.image"
      [src]="major.image"
      class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- BADGE -->
    <!-- <div
      class="absolute top-3 right-3 px-3 py-1 text-xs rounded-full font-bold z-10 text-white bg-[#0E76BD]"
    >
      {{ major.code }}
    </div> -->
  </div>

  <!-- BOTTOM -->
  <div class="p-5 text-gray-700">
    <h3 class="text-lg font-bold">
      {{ major.name }}
    </h3>

    <div class="border-t-2 border-[#00a76d] my-3"></div>

    <!-- BUTTON -->
    <!-- TEXT LINK (replaces button) -->
    <div
      (click)="learnMore.emit(major.id)"
      class="flex items-center gap-1 text-[#00a76d] font-medium cursor-pointer transition"
    >
      <span>Course Detail</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M7 7h10v10" />
        <path d="M7 17 17 7" />
      </svg>
    </div>
  </div>
</div>
