<ul class="text-gray-600 text-sm py-2">
  <li
    *ngFor="let subject of subjects"
    class="px-6 py-1 hover:bg-gray-50 transition flex items-center justify-between"
  >
    <!-- LEFT SIDE: CODE BOX -->
    <div
      class="w-18 h-8 flex items-center justify-center rounded-md bg-green-100 text-green-700 font-bold text-xs"
    >
      {{ subject.code }}
    </div>

    <!-- RIGHT SIDE: NAME -->
    <div class="flex-1 ml-4 font-medium text-gray-700">
      {{ subject.name }}
    </div>

    <div
      class="w-22 h-8 flex items-center justify-center rounded-md bg-green-100 text-green-700 font-bold text-xs"
    >
      {{ subject.hours || subject.credit }}
      {{ subject.hours ? 'Hours' : 'Credits' }}
    </div>
  </li>
</ul>
