<div class="relative w-full h-[300px] sm:h-[450px] lg:h-[600px] overflow-hidden">

  <!-- slides -->
  <div
    *ngFor="let img of images; let i = index"
    class="absolute inset-0 bg-center bg-cover transition-opacity duration-1000 ease-in-out"
    [style.backgroundImage]="'url(' + img + ')'"
    [class.opacity-100]="i === currentIndex"
    [class.opacity-0]="i !== currentIndex"
  ></div>

  <!-- overlay -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- content -->
  <div class="relative z-10 flex items-end h-full px-4 sm:px-10 md:px-20 text-white">

    <div class="max-w-xl text-left mb-10">

      <h1 class="text-2xl sm:text-4xl md:text-6xl font-bold leading-tight whitespace-nowrap">
        Student Graduation
      </h1>

      <p class="text-sm sm:text-lg md:text-xl text-white/90">
        2024 Ceremony Celebration
      </p>

    </div>
  </div>

  <!-- dots -->
  <div class="absolute bottom-3 sm:bottom-5 left-1/2 -translate-x-1/2 flex gap-2 z-20">
    <span
      *ngFor="let img of images; let i = index"
      (click)="goToSlide(i)"
      class="w-2 h-2 sm:w-2.5 sm:h-2.5 rounded-full cursor-pointer transition-all duration-300"
      [ngClass]="i === currentIndex ? 'bg-[#00a76d]' : 'bg-white/40'"
    ></span>
  </div>

</div>
