/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@theme {
  --animate-fade-in: fade-in 0.7s ease forwards;
  --animate-fade-up: fade-up 0.7s ease forwards;
  --animate-fade-left: fade-left 0.7s ease forwards;
  --animate-fade-right: fade-right 0.7s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  background-color: #f9fafb;
}

body.english {
  font-family: 'Inter', sans-serif;
}

body.khmer {
  font-family: 'Kantumruy Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}
